# Ignore LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.brf
*.nav
*.snm
*.vrb
*.xdv
*.ilg
*.ind
*.idx
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
*.glg
*.glsdefs

# Ignore pdf files
*.pdf